/* Base styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

form input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s;
}

form input:focus {
  border-color: #17B978;
  outline: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('image/logbg.png') no-repeat center center fixed;
    /* background-size: cover; */
}

/* Centering container */
.container {
    width: 550px;
    margin: 100px auto;
    background: rgba(255, 255, 255, 0.26);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* Headings */
h2 {
    margin-bottom: 20px;
    color: #777777ff;
}

/* Input fields */
input[type="text"],
input[type="password"]
input[type="email"] {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    outline: none;
    border-radius: 6px;
}

/* Buttons */
button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(90deg, #17B978, #46a780ff);
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: linear-gradient(90deg, #4c8fe0, #4cb8e0);
}

/* Error text */
.error {
    color: #ff8080;
    margin-bottom: 10px;
}

/* Links */
p, a {
    color: #777777ff;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}
